@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.cursor-pointer {
  cursor: pointer;
}

button.simple {
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
}
