div.giphy-image-grid {
  display: flex;
  flex-wrap: wrap;
}

div.giphy-image-grid {
  justify-content: space-evenly;
}

#images-container {
  max-width: 800px;
  margin: 2em auto;
}

#images-container h1 {
  text-align: center;
}

